<html>
    <head>
        <script type="text/javascript" src ="http://code.jquery.com/jquery-latest.js"></script>

        <script type="text/javascript">// <![CDATA[
      $("#searchterm").keyup(function(e) {
        console.log('event keyup');
        var q = $("#searchterm").val();
        $.getJSON("http://en.wikipedia.org/w/api.php?callback=?",
        {
          srsearch: q,
          action: "query",
          list: "search",
          format: "json"
        },
        function(data) {
          $("#results").empty();
          $("#results").append("Results for <b>" + q + "</b>");
          $.each(data.query.search, function(i,item){
            $("#results").append("<div><a href='http://en.wikipedia.org/wiki/" + encodeURIComponent(item.title) + "'>" + item.title + "</a>" + item.snippet + "</div>");
          });
        });
      });

// ]]></script>


    </head>
    <body>
        <p><h1>libreAcademia</h1></p>
        <ul>
            <li>
                <a href="/en">english</a>
                <a href="/es">spanish</a>
            </li>
        </ul>
        {{{ yield }}}
    </body>
</html>