body {
    font-family: "arial, sans-serif";
}
.header-box {
    background: url('/assets/img/tree3.png') no-repeat 50px 10px;
    height: 147px;
}

.title-box {
    margin-left: 150px;
    padding-top: 17px;
}

.search-box {
    margin-left: 150px;
    margin-top: 10px;
}

h3 {
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    height: auto;
    line-height: 22px;
}

.search-typeahead {
    width: 450px;
    height: 100px;
    line-height:27px;
    text-indent:10px;
    font-family:arial, sans-serif;
    font-size:1em;
    color:#333;
    background: #fff;
    border:solid 1px #d9d9d9;
    border-top:solid 1px #c0c0c0;
}

.curso {
    height: 100px;
    margin-bottom: 10px;
}
.curso h3 {
    
}
